工作流_商品发布_每10分钟.json
{
  "name": "【⏫上传】商品发布（每10分钟）",
  "nodes": [
    {"parameters": {}, "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-880, 80], "id": "pub-manual", "name": "When clicking 'Execute workflow'"},
    {"parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 10}]}}, "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [-880, 240], "id": "pub-schedule", "name": "每10分钟发布"},
    {"parameters": {"assignments": {"assignments": [{"id": "p1", "name": "page", "value": "={{ $json.page !== undefined ? $json.page : 1 }}", "type": "number"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-640, 80], "id": "pub-init-page", "name": "初始化页码"},
    {"parameters": {"method": "POST", "url": "https://gwfpod.com/api/collect/product/page", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "accept", "value": "application/json, text/plain, */*"}, {"name": "content-type", "value": "application/json"}, {"name": "origin", "value": "https://gwfpod.com"}, {"name": "user-agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"page\":{{ $json.page }},\"limit\":100,\"search\":{\"id\":null,\"product_name\":null,\"product_id\":null,\"extcode\":null,\"group_id\":null,\"infringement_status\":1,\"create_time\":null,\"is_publish\":0}}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3, "position": [-400, 80], "id": "pub-request-list", "name": "请求未发布未侵权列表", "credentials": {"httpHeaderAuth": {"id": "039mfktEpPGo7kiA", "name": "特么爆单API的Token"}}},
    {"parameters": {"fieldToSplitOut": "data.list", "options": {}}, "type": "n8n-nodes-base.splitOut", "typeVersion": 1, "position": [-160, 80], "id": "pub-split", "name": "Split Out"},
    {"parameters": {"mode": "runOnceForEachItem", "jsCode": "const jsonFields = ['carousel_pic_urls', 'sku_list', 'sku_specs', 'malls', 'product_template', 'product_size_template'];\nconst newData = {};\nfor (const key in $json) {\n  let value = $json[key];\n  let newKey = key;\n  if (key === 'id') newKey = 'api_id';\n  if (key === 'group') newKey = 'group_data';\n  if (jsonFields.includes(key)) value = value ? JSON.stringify(value) : null;\n  newData[newKey] = (value === undefined || value === \"\") ? null : value;\n}\nreturn newData;"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [80, 80], "id": "pub-transform", "name": "字段转换"},
    {"parameters": {"operation": "upsert", "table": {"__rl": true, "value": "temu_goods_v2", "mode": "list", "cachedResultName": "temu_goods_v2"}, "columnToMatchOn": "product_id", "options": {}}, "type": "n8n-nodes-base.mySql", "typeVersion": 2.5, "position": [320, 80], "id": "pub-write-db", "name": "写入数据库", "credentials": {"mySql": {"id": "4nNvDBTA9jUj1O1U", "name": "MySQL：temu_baodan"}}},
    {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "pn", "leftValue": "={{ $('请求未发布未侵权列表').last().json.data.list.length }}", "rightValue": "=100", "operator": {"type": "number", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [560, 80], "id": "pub-has-next", "name": "是否有下一页?"},
    {"parameters": {"amount": 1}, "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [800, -40], "id": "pub-wait-pg", "name": "Wait", "webhookId": "pub-wait-pg-wid"},
    {"parameters": {"jsCode": "const init = $('初始化页码').last().json;\nreturn [{ json: { page: init.page + 1 } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [800, -160], "id": "pub-incr-page", "name": "页码递增"},
    {"parameters": {"operation": "executeQuery", "query": "SELECT api_id FROM temu_goods_v2 WHERE is_publish = 0 AND review_status = 1 AND infringement_status = 1 ORDER BY api_id ASC LIMIT 50", "options": {}}, "type": "n8n-nodes-base.mySql", "typeVersion": 2.5, "position": [800, 200], "id": "pub-query", "name": "查询已审核通过+侵权检测通过的商品（每次最多50条）", "credentials": {"mySql": {"id": "4nNvDBTA9jUj1O1U", "name": "MySQL：temu_baodan"}}},
    {"parameters": {"jsCode": "const items = $input.all();\nconst ids = items.map(item => item.json.api_id).filter(id => id != null && id !== undefined && id !== '');\nreturn [{ json: { ids, mallIds: [1248] } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1040, 200], "id": "pub-prep", "name": "整理数据（店铺ID暂时写死）"},
    {"parameters": {"method": "POST", "url": "https://gwfpod.com/api/collect/product/batch_bind_malls", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "accept", "value": "application/json, text/plain, */*"}, {"name": "content-type", "value": "application/json"}, {"name": "origin", "value": "https://gwfpod.com"}, {"name": "user-agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3, "position": [1280, 200], "id": "pub-bind", "name": "绑定店铺", "credentials": {"httpHeaderAuth": {"id": "039mfktEpPGo7kiA", "name": "特么爆单API的Token"}}},
    {"parameters": {"amount": 1}, "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [1520, 200], "id": "pub-wait", "name": "Wait2", "webhookId": "pub-wait-wid"},
    {"parameters": {"method": "POST", "url": "https://gwfpod.com/api/collect/product/batch_publish", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "accept", "value": "application/json, text/plain, */*"}, {"name": "content-type", "value": "application/json"}, {"name": "origin", "value": "https://gwfpod.com"}, {"name": "user-agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"ids\":{{ JSON.stringify($('整理数据（店铺ID暂时写死）').item.json.ids) }},\"params\":{\"isFilterRepeatPublish\":true,\"productName\":{\"enable\":false,\"cutType\":\"after\"},\"extCode\":{\"enable\":false,\"cutType\":\"after\"},\"skuExtCode\":{\"enable\":false,\"cutType\":\"after\"}}}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3, "position": [1760, 200], "id": "pub-publish", "name": "⏫正式发布", "credentials": {"httpHeaderAuth": {"id": "039mfktEpPGo7kiA", "name": "特么爆单API的Token"}}},
    {"parameters": {"amount": 2, "unit": "minutes"}, "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [2000, 200], "id": "pub-wait-2min", "name": "等2分钟", "webhookId": "pub-wait-2min-wid"},
    {"parameters": {"assignments": {"assignments": [{"id": "c1", "name": "page", "value": "={{ $json.page !== undefined ? $json.page : 1 }}", "type": "number"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [2240, 200], "id": "pub-init-check", "name": "初始化页码_校验"},
    {"parameters": {"method": "POST", "url": "https://gwfpod.com/api/collect/product/page", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "accept", "value": "application/json, text/plain, */*"}, {"name": "content-type", "value": "application/json"}, {"name": "origin", "value": "https://gwfpod.com"}, {"name": "user-agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"page\":{{ $json.page }},\"limit\":100,\"search\":{\"id\":null,\"product_name\":null,\"product_id\":null,\"extcode\":null,\"group_id\":null,\"infringement_status\":1,\"create_time\":null,\"is_publish\":0}}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3, "position": [2480, 200], "id": "pub-request-check", "name": "请求未发布未侵权_校验", "credentials": {"httpHeaderAuth": {"id": "039mfktEpPGo7kiA", "name": "特么爆单API的Token"}}},
    {"parameters": {"fieldToSplitOut": "data.list", "options": {}}, "type": "n8n-nodes-base.splitOut", "typeVersion": 1, "position": [2720, 200], "id": "pub-split-check", "name": "Split Out_校验"},
    {"parameters": {"mode": "runOnceForAllItems", "jsCode": "const ids = $input.all().map(i => i.json.id != null ? i.json.id : i.json.api_id).filter(Boolean);\nreturn [{ json: { api_ids: ids } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2960, 200], "id": "pub-page-ids", "name": "本页api_ids"},
    {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "pc", "leftValue": "={{ $('请求未发布未侵权_校验').last().json.data.list.length }}", "rightValue": "=100", "operator": {"type": "number", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [3200, 200], "id": "pub-has-next-check", "name": "是否有下一页_校验"},
    {"parameters": {"amount": 1}, "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [3440, 80], "id": "pub-wait-check", "name": "Wait_校验", "webhookId": "pub-wait-check-wid"},
    {"parameters": {"jsCode": "const init = $('初始化页码_校验').last().json;\nreturn [{ json: { page: init.page + 1 } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3440, -40], "id": "pub-incr-check", "name": "页码递增_校验"},
    {"parameters": {"mode": "runOnceForAllItems", "jsCode": "const batchIds = ($('整理数据（店铺ID暂时写死）').first().json.ids || []).map(Number);\nconst allItems = $('本页api_ids').all();\nconst unpubSet = new Set();\nallItems.forEach(it => { (it.json.api_ids || []).forEach(id => unpubSet.add(Number(id))); });\nconst successIds = batchIds.filter(id => !unpubSet.has(id));\nreturn [{ json: { success_ids: successIds } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3680, 200], "id": "pub-calc-success", "name": "合并并算成功ids"},
    {"parameters": {"operation": "executeQuery", "query": "={{ $json.success_ids && $json.success_ids.length > 0 ? 'UPDATE temu_goods_v2 SET is_publish = 1 WHERE api_id IN (' + $json.success_ids.join(',') + ')' : 'SELECT 1' }}", "options": {}}, "type": "n8n-nodes-base.mySql", "typeVersion": 2.5, "position": [3920, 200], "id": "pub-update-success", "name": "更新成功为已发布", "credentials": {"mySql": {"id": "4nNvDBTA9jUj1O1U", "name": "MySQL：temu_baodan"}}},
    {"parameters": {"content": "## 先拉未发布+未侵权写库，再查DB发布。\n正式发布后等2分钟再拉一次未发布列表，只对「从列表消失的」更新 is_publish=1。\n尽量避免手动执行。", "height": 100, "width": 360}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [774, -280], "id": "pub-note", "name": "Sticky Note1"}
  ],
  "connections": {
    "When clicking 'Execute workflow'": {"main": [[{"node": "初始化页码", "type": "main", "index": 0}]]},
    "每10分钟发布": {"main": [[{"node": "初始化页码", "type": "main", "index": 0}]]},
    "初始化页码": {"main": [[{"node": "请求未发布未侵权列表", "type": "main", "index": 0}]]},
    "请求未发布未侵权列表": {"main": [[{"node": "Split Out", "type": "main", "index": 0}]]},
    "Split Out": {"main": [[{"node": "字段转换", "type": "main", "index": 0}]]},
    "字段转换": {"main": [[{"node": "写入数据库", "type": "main", "index": 0}]]},
    "写入数据库": {"main": [[{"node": "是否有下一页?", "type": "main", "index": 0}]]},
    "是否有下一页?": {"main": [[{"node": "Wait", "type": "main", "index": 0}], [{"node": "查询已审核通过+侵权检测通过的商品（每次最多50条）", "type": "main", "index": 0}]]},
    "Wait": {"main": [[{"node": "页码递增", "type": "main", "index": 0}]]},
    "页码递增": {"main": [[{"node": "初始化页码", "type": "main", "index": 0}]]},
    "查询已审核通过+侵权检测通过的商品（每次最多50条）": {"main": [[{"node": "整理数据（店铺ID暂时写死）", "type": "main", "index": 0}]]},
    "整理数据（店铺ID暂时写死）": {"main": [[{"node": "绑定店铺", "type": "main", "index": 0}]]},
    "绑定店铺": {"main": [[{"node": "Wait2", "type": "main", "index": 0}]]},
    "Wait2": {"main": [[{"node": "⏫正式发布", "type": "main", "index": 0}]]},
    "⏫正式发布": {"main": [[{"node": "等2分钟", "type": "main", "index": 0}]]},
    "等2分钟": {"main": [[{"node": "初始化页码_校验", "type": "main", "index": 0}]]},
    "初始化页码_校验": {"main": [[{"node": "请求未发布未侵权_校验", "type": "main", "index": 0}]]},
    "请求未发布未侵权_校验": {"main": [[{"node": "Split Out_校验", "type": "main", "index": 0}]]},
    "Split Out_校验": {"main": [[{"node": "本页api_ids", "type": "main", "index": 0}]]},
    "本页api_ids": {"main": [[{"node": "是否有下一页_校验", "type": "main", "index": 0}]]},
    "是否有下一页_校验": {"main": [[{"node": "Wait_校验", "type": "main", "index": 0}], [{"node": "合并并算成功ids", "type": "main", "index": 0}]]},
    "Wait_校验": {"main": [[{"node": "页码递增_校验", "type": "main", "index": 0}]]},
    "页码递增_校验": {"main": [[{"node": "初始化页码_校验", "type": "main", "index": 0}]]},
    "合并并算成功ids": {"main": [[{"node": "更新成功为已发布", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true}
}
